*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

nav{
    text-align: right;
    padding: 20px;
    line-height: 40px;
}

ul{
    list-style: none;
}

a:hover>img{
    border-color: white;
}

a:hover{
    border: 1px solid white;
    border-radius: 50%;
}

img{
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png);
}

#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 470px;
}