@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

p{
    line-height: 2em;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
}

header>h1{
    font-family: 'Passion One';
}

header>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

header>p>a{
    font-family: 'Passion One';
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

article>div>p{
    font-family: 'Sriracha';
    font-weight: normal;
    padding: 0px 10px 0px 20px;
    font-size: 3vw;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    min-height: 400px;       
    padding-top: 50px;      
    padding-bottom: 50px;    
    box-sizing: border-box;
}

.grande{
    min-height: 600px;
}

.parallax{
    color: white;
    p{
        background-color: rgba(0, 0, 0, 0.274);
        width: 40%;
    }
}

#img1{
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

#img2{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
    padding: 10px;
}

footer>p>a{
    color: white;
    text-decoration: none;
}